$color-principal:rgba(255, 217, 0, 0.938);
$color-secundario: black;
$color-terciario: white;
$color-cuarto: grey;
$color-texto: blue;


$color-background-hover: rgb(243, 181, 10);
$color-background-secundario: #020221;
$color-background-principal: rgba(255, 217, 0, 0.938);
$color-background-terciario:white;
$color-background-hover:grey;
$background-color-footer: black;