.quienessomos {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    padding: 0px;
  }
  
  .fotoferreteria {
    width: 100%;
    text-align: center;
  }
  
  .textosobrenosotros {
    width: 100%;
    text-align: center;
    color: $color-secundario;
    background-image: url(../Image/Fondos/fondonosotrosamario.jpg);
    background-size: cover;
  }